/* general element css */
body {
    text-align: center;
    background-image: url("images/texture-bg.png");
    background-size: 100vw 100vh;
    color: white;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2px;
    margin-top: 6px;
}

button {
    border-style: ridge;
    background-color: antiquewhite;
    color: black;
    border-width: 4px;
    min-height: 40px;
}

input {
    font-size: 18px;
}

/* left side css */
.listButton {
    width: 100%;
    border: 4px solid black;
    background-color: rgb(240, 240, 240);
    color: black;
    font-size: 20px;
}

.listButton:hover {
    filter: brightness(50%);
}

/* general table css */
.tableClass {
    background-color: black;
    color: rgb(7, 7, 7);
    margin: 0px auto;
    width: 80%;
}

.headerClass {
    background-color: rgb(67, 109, 109);
    color: white;
}

.headerClass:hover {
    filter: brightness(120%);
}

.rowClass {
    background-color: rgb(227, 222, 222);
}

.rowClass:hover {
    background-color: white;
    filter: brightness(120%);
}

/* highlighters for table rows */
.golden {
    background-color: gold;
}

.highlighted {
    background-color: white;
}

.editing {
    background-color: orange;
}