body {
    text-align: center;
    background-image: url("images/texture-bg.png");
    background-size: 100vw 100vh;
    color: white;
    font-size: 24px;
}

.listButton {
    width: 100%;
    border: 4px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
}

.listButton:hover {
    filter: brightness(50%);
}

.tableClass {
    background-color: black;
    color: rgb(7, 7, 7);
    margin: 0px auto;
    width: 80%;
}

.headerClass {
    background-color: darkslategray;
    color: white;
}

.headerClass:hover {
    filter: brightness(120%);
}

.rowClass {
    background-color: lightgray;
}

.rowClass:hover {
    background-color: white;
    filter: brightness(120%);
}

.golden {
    background-color: gold;
}